<!-- <app-navbar></app-navbar>
<app-header></app-header>
<div class="container-fluid">
  <app-login></app-login>
</div>

 -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="navbar-brand" href="#">Project Management</a>
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <router-outlet></router-outlet>
</div>